    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <i class="nc-icon nc-bank"></i>
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Fintech AIEP
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="#  ">
              <i class="nc-icon nc-button-power"></i>
              <p>Inicio de Sesión</p>
            </a>
          </li>
        </ul>
      </div>
    </div>